.site-title a,.post-title a,.post-meta a
{
  color: #db8500;
}

a {
    color: #db8500;
    border-bottom: 2px solid #db8500;
    text-decoration: none;
}

a:hover,a:focus,.post-title a:hover,.post-meta a:hover
{
    color: white;
    text-decoration: none;
}

blockquote
{
  border-left: 9px solid #db8500;
}

body 
{
  background-color: #373b44;
  color: #ffffff;
}
